@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background: #141e30;
  background: -webkit-linear-gradient(to right, #243b55, #141e30);
  background: linear-gradient(to right, #243b55, #141e30);
}

.container {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
  padding: 10px;
}
.container h1 {
  font-family: "Poppins", serif;
  font-size: 26px;
  text-align: center;
}
.box {
  display: flex;
  gap: 10px;
  padding: 50px 30px;
}
select {
  width: 95%;
  height: 50px;
  border-radius: 10px;
  background-color: cadetblue;
}
.box input {
  width: 95%;
  height: 35px;
  margin-top: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.12);
  outline: none;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30%;
  height: 50px;
  margin: 0px auto;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
  background-color: dodgerblue;
  box-shadow: rgba(0, 0, 0, 0.5);
  border: none;
}
